/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 27, 2025, 8:34:35 AM
    Author     : jrasc
*/


:root{
    --bg-color-dark: #131200;
    --text-color-dark: #EDF2F4;
    --links-color-dark: #EFBDEB;
    --links-color-hover: #8D91C7;
    --nav-links: #8D3FD1;
    --highlights: #EDF67D;
}

body, main, h3{
    padding: 0;
    margin: 0;
}

a{
    color: var(--links-color-dark);
    text-decoration: none;
}